.skills-title {
    font-weight: bold;
}

.row-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.box-img {
    display: flex;
}

.col-img {
    width: 4vw;
    height: auto;
}

.box-img p {
    margin: 5px 0;
    flex: 1;
    text-align: start;
    align-content: center;
    font-weight: bold;
    margin-left: 5px;
}