.summary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
}

.summary-img {
    max-width: 100%;
    height: auto;
}

.summary-content {
    flex: 1;
    padding: 20px;
    max-width: 100%;
}

.summary-title {
    font-weight: bold;
    margin: 10px 0;
}

.summary-subtittle2 {
    margin: 10px 0;
}

.summary-button {
    width: 100%;
    background-color: $secondary;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5%;
}

button:hover {
    background-color: $success;
}
